<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/joeshu/gpt_image_playground/releases/download/ios-cert-pool-latest/GPT-Image-Playground-CENTRAL-POWER-INFORMATION-TECHNOLOGY-COMPANY-CENTRAL-POWER-CORPORATION-com.cpc.it.thinghiemdien--C482649E7C.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>dev.cooksleep.gptimageplayground</string>
				<key>bundle-version</key>
				<string>279</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>GPT Image Playground</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
